@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Ibarra Real Nova" , sans-serif;
         scrollbar-color: #ffffff #000000;
      scrollbar-width: thin;

        
}

body {
  overflow-x: hidden;
}


html::-webkit-scrollbar {
      width: 10px; 
    
   }

html::-webkit-scrollbar-track {
    background-color: #000000;
  }

html::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 25px;
  }

 
}

@layer components {
    .custom-shape-divider-bottom-1657960008 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1657960008 svg {
    position: relative;
    display: block;
    width: calc(206% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1657960008 .shape-fill {
    fill: #000000;
}

.bubble::after {
    content:"";
    border-top-left-radius: 50% 100%; /* top left */
    border-top-right-radius: 50% 100% ; /*top right */
    position:absolute;
     bottom: 0;
    z-index: -1;
    width: 100%;
    
    
    background-color: black;
    height: 85%;

}


    .blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
    }

    .blob-content {
    z-index: 1;
    }

    .blobs {
    width: 100%;
    background: url('./blobs.svg') no-repeat bottom / cover;
    }

   /* from https://codepen.io/aw-kris/pen/bwVMEy */
.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .15em; /* Adjust as needed */ 
    
    animation: 
        typing 4.5s steps(40, end);
        
    animation-delay:1s;
    animation-fill-mode: both
    
}


    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }






    


}